<div class="row mt-5">
  <div class="col-12 item-bcolor p-4">
    <% @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
      <div class="form-group pt-3">
        <label for="inputName">ユーザー名</label>
        <input class="form-control" type="text" name="name" value="<%= @user.name %>" placeholder="ユーザー名">
      </div>
      <div class="form-group pt-3">
        <label for="inputMailAddress">メールアドレス</label>
        <input class="form-control" name="email" value="<%= @user.email %>" placeholder="メールアドレス">
      </div>
      <div class="form-group pt-3">
        <input type="file" name="image" value="<%= @user.image_name %>">
      </div>
      <div class="pb-2">
        <button type="submit" class="btn btn-outline-success">保存</button>
      </div>
    <% end %>
  </div>
</div>
