<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>
<%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
  <p>ユーザー名</p>
  <input name="name" value="<%= @user.name %>">
  <p>メールアドレス</p>
  <input name="email" value="<%= @user.email %>">
  <p>ユーザー画像</p>
  <input name="image" type="file" value="<%= @user.image_name %>">
  <input type="submit" value="保存">
<% end %>
