<!DOCTYPE html>
<html>
  <head>
    <title>AppTweet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">
        <% if @current_user %>
          <%= link_to("/posts/index", class: "navbar-brand") do %>
            <span class="navbar-brand">AppTweet</span>
          <% end %>
        <% else %>
          <%= link_to("AppTweet", "/", class: "navbar-brand") %>
        <% end %>
        <% if @current_user %>
          <li class="nav-item nav-link">
            <%= link_to("/users/#{@current_user.id}") do %>
              <img src="<%= "/user_images/#{@user.image_name}" %>" alt="" class="rounded-circle user-img header-icon">
            <% end %>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}", class: "pl-2") %>
          </li>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav">
            <% if session[:user_id] %>
              <%= link_to("投稿一覧", "/posts/index", class: "nav-item nav-link") %>
              <%= link_to("新規投稿", "/posts/new", class: "nav-item nav-link") %>
              <%= link_to("ユーザー一覧", "/users/index", class: "nav-item nav-link") %>
              <%= link_to("ログアウト", "/logout", method: :post, class: "nav-item nav-link") %>
            <% else %>
              <%= link_to("ユーザー登録", "/signup", class: "nav-item nav-link") %>
              <%= link_to("ログイン", "/login", class: "nav-item nav-link") %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% if flash[:notice] %>
        <div class="flash mt-2 rounded-pill">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
